mne
numpy
pandas
scikit-learn
matplotlib
plotly
tensorflow
pylsl
threading                                                        

                                                             
